*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    background: linear-gradient(#fff,#78abff);
    min-height: 100vh;
    padding: 100px 0;
    box-sizing: border-box;
}
.adminLogin{
    background: #0c5adb;
    margin: 0 auto;
    text-align: center;
    max-width: 330px;
    padding: 50px 30px;
    border-radius: 5px;
    color: #fff;
}

.adminLogin hr{
    width: 70px;
    height: 3px;
    margin: 30px auto;
    border: 0;
    background: rgba(255,255,255,0.5);
}

.adminLogin p{
    font-size: 16px;
    line-height: 24px;
    color: rgba(255,255,255,0.8);
    margin-bottom: 30px;
}

.adminLogin input{
    border-radius: 3px;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 55px;
    border: 0;
    padding: 0 20px;
    color: rgba(255,255,255,0.8);
    margin-bottom: 36px;
    outline: none;
    box-sizing: border-box;
    font-size: 16px;
}

::placeholder{
    color: rgba(255,255,255,0.8);
}

.adminLogin button{
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 3px;
    height: 50px;
    background-color: transparent;
    color: #fff;
    padding: 0px 28px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 16px;
}

.adminLogin button:hover{
    background-color: #00138e;
    border-color: #00138e;
}
