
<html>
    <head>
        <link rel="stylesheet" href="admindashboard.component.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a routerLink="/AdminDashboard">Home</a></li>
                <li><a routerLink="/InsertBill">Insert Bill</a></li>
                <li class = "dropdown"><a routerLink="/AllBills">Consumer Bill <span>&rsaquo;</span></a>
                    <ul>
                        <li><a routerLink="/AllBills">Get All Bills</a></li>
                        <li><a routerLink="/BillByCity">Get Bill By City</a></li>
                        <li><a routerLink="/BillByArea">Get Bill By Area</a></li>
                        <li><a routerLink="/BillByYear">Get Bill By Year</a></li>
                    </ul>
            </ul>
        </nav>
    </body>
</html>

<router-outlet></router-outlet>

