
<html>
    <head>
        <link rel="stylesheet" href="admindashboard.component.css">
    </head>
    <body>
        <button routerLink="/AllBills">All bills</button>
        <br>
        <button routerLink="/BillByCity">by city</button>
        <br>
        <button routerLink="/BillByArea">by area</button>
        <br>
        <button routerLink="/BillByYear">by year month</button>
        <br>
        <button routerLink="/InsertBill">insert bill</button>
    </body>
</html>

<router-outlet></router-outlet>

