<html>
  <head>
    <link rel="stylesheet" href="get-billby-city.component.css">
  </head>
    <div class="button">
      <form [formGroup]="cityForm" (ngSubmit)="setCity()">
        <input type="text" placeholder="Enter city" formControlName="city"><br>
        <button [disabled]="cityForm.invalid">Submit</button>
    </form>
    </div>
  <body>
    <main class="table">
      <section class = "table_header">
        <h1>Consumer's Bill</h1>
      </section>
      <section class = "table_body">
        <table>
          <thead>
            <tr>
              <th>Bill ID</th>
              <th>Consumer Name</th>
              <th>Year</th>
              <th>Month</th>
              <th>Units Consumed</th>
              <th>Total Bill</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bill of consumerList">
              <td>{{bill.billId}}</td>
              <td>{{bill.consumer.consumerName}}</td>
              <td>{{bill.year}}</td>
              <td>{{bill.month}}</td>
              <td>{{bill.unitsConsumed}}</td>
              <td>{{bill.totalBill}}</td>
            </tr>
            <!-- <tr >
              <td>12 </td>
              <td>Mohittttttttttttttttttttttttttttttttttttttttttttttttt Katare </td>
              <td>2022 </td>
              <td>12th dec</td>
              <td>100 </td>
              <td><strong>40000</strong> </td>
            </tr>
            <tr >
              <td>12 </td>
              <td>Mohit Katare </td>
              <td>2022 </td>
              <td>12 </td>
              <td>100 </td>
              <td>4000 </td>
            </tr>
            <tr >
              <td>12 </td>
              <td>Mohit Katare </td>
              <td>2022 </td>
              <td>12th dec</td>
              <td>100 </td>
              <td><strong>40000</strong> </td>
            </tr> -->
          </tbody>
        </table>
      </section>
    </main>
  </body>
</html>