*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    background: linear-gradient(#fff,#78abff);
    min-height:100vh;
    padding: 100px 0;
    box-sizing: border-box;
}
.welcome{
    background:#0c5adb;
    margin: 0 auto;
    text-align: center;
    max-width: 430px;
    padding: 50px 30px;
    border-radius: 5px;
    color: #fff;
}
.welcome hr{
    width: 100px;
    height: 3px;
    margin: 30px auto;
    border: 0;
    background: rgba(255,255,255,0.5);
}
.welcome p{
    font-size: 16px;
    line-height: 24px;
    color: rgba(255,255,255,0.8);
    margin-bottom: 30px;
}
.welcome button{
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 3px;
    height: 50px;
    width: 270px;
    background-color: transparent;
    color: #fff;
    padding: 0px 28px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 16px;
}
.welcome  h3{
    padding-top: 20px;
    padding-bottom: 0px;
    color: rgba(255,255,255,0.8);
}

.welcome button:hover{
    background-color: #00138e;
    border-color: #00138e;
}
