<html>
    <head>
        <link rel="stylesheet" href="welcome-page.component.css">
    </head>
    <body>
        <div class="welcome">
            <h1>Welcome to Electricity Bill Generator</h1>
            <hr>
            <p>Please Login by clicking on the following buttons and get your Bill</p>
            <form>
                <button routerLink="AdminLogin">Admin</button>
                <br>
                <h3>OR</h3>
                <br>
                <button routerLink = "UserLogin">User</button>
            </form>
        </div>
    </body>
</html>
